body{
    margin: 0;
}
h2 {
  margin: 0;
    position: relative;
    font-size: 5rem;
    text-align: center;
    padding: 1rem .5rem;
    color: #fff;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
    background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
  }

[data-tab-content]{
    display: none
  }
  
  [data-tab-content].active{
    display: block;
  }
  .tabs__body{
    background-color: rgba(46, 46, 46, 0.7);
    color: rgba(227, 179, 29);
  }
  
  nav.tabs__nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      margin: 0 0 1rem;
      border: none;
      box-shadow: 0 7px 34px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
      border-radius: 3px;
      background: #FFF;
  }
  a.tabs__item {
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
      text-decoration: none;
  }
  a.tabs__item.active {
      position: relative;
      z-index: 1;
      color: #FFF;
  }
  .tabs__item:first-child.active ~ .Tabs__presentation-slider {
    transform: translateX(0) scaleX(0.333);
  }
  .tabs__item:nth-child(2).active ~ .Tabs__presentation-slider {
    transform: translateX(33.333%) scaleX(0.333);
  }
  .tabs__item:nth-child(3).active ~ .Tabs__presentation-slider {
    transform: translateX(calc(33.333% * 2)) scaleX(0.333);
  }
  .Tabs__presentation-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transition: transform 0.25s;
    background: linear-gradient( 45deg , #8606e8, #67b8ff);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
    }
  }
  .tabs__content.active {
      animation: fadeIn 0.7s ease 0s 1 normal;
      color: #fff;
  }