/*表題の中央揃え*/
  .center-marginwrap{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #25e913;
}

/*文字をタイピング風に入れる場所*/
p.textTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    margin-bottom: 0;
    color: #25e913;
}

.typeWriter {
  font-size: 1.2rem;
  color: #25e913;
  text-align: center;
  margin: 0 !important;
  min-height: 120px;
}

.typeWriter > span {
  border-right: 2px solid;
  animation: caret 0.2s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* 画像のスクロールCSS */
.fade-in {
    text-align: center;
    opacity: 0;
    margin: auto;
    transition-duration: 500ms;
    transition-property: opacity, transform;
  }
  
  .fade-in-up {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(0, 50px);
  }
  
  .fade-in-down {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(0, -50px);
  }
  
  .fade-in-left {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(-50px, 0);
  }
  
  .fade-in-right {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(50px, 0);
  }
  
  .scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }
  .googleform-wrapper {
    position: relative;
    width: 100%;
    height: 800px;
    overflow-y: scroll;
  }
  
  .googleform-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
