body {
  margin: 0;
}

/*表題*/
h2 {
  margin: 0;
  position: relative;
  font-size: 8rem;
  text-align: center;
  padding: 1rem .5rem;
  color: #fff;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
  background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
}

/* */

/*文字をタイピング風に入れる場所*/
p.textTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    margin-bottom: 0;
    color: #fff;
}

.typeWriter {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin: 0 !important;
  min-height: 120px;
}

.typeWriter > span {
  border-right: 2px solid;
  animation: caret 0.2s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* 画像のスクロールCSS */
.img{
  text-align: center;
  width: 300px;
  height: 200px;

}

.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.googleform-wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
}
  
.googleform-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}