/* メニューの部分 */
.overlay {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  #drawerNavi ul.overlay-content {
      padding: 0;
      list-style: none;
      border: none;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 15%;
  }
  ul.overlay-content li {
      padding: 0;
  }
  .overlay-content li a {
      padding: 8px;
      text-decoration: none;
      font-size: 1.9rem;
      color: #707070;
      display: block;
      transition: 0.3s;
  }
  
  .overlay-content li a:hover, .overlay-content li a:focus {
    color: #f1f1f1;
  }
  
  /* close */
  #drawerClose {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
  }
  #drawerClose:hover {
      opacity: 0.8;
  }
  
  .lineClose {
      display: inline-block;
      vertical-align: middle;
      color: #FFF;
      line-height: 1;
      width: 2.5rem;
      height: 0.2rem;
      background: currentColor;
      border-radius: 0.1rem;
      position: relative;
      transform: rotate(45deg);
  }
  .lineClose::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }
  
  @media screen and (max-width: 767px) {
    .overlay-content li a {
      font-size: 1.7rem;
  }
    #drawerClose {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .menubutton {
    text-align: center;
    font-size: 50px;
    z-index: 100;
    color: #fff;
    background-color: #eb6100;
  }
  .menubutton:hover{
    color: #fff;
    background: #f56500;
  }


/*表題の中央揃え*/
  .center-marginwrap{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #25e913;
}

/*文字をタイピング風に入れる場所*/
p.textTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    margin-bottom: 0;
    color: #25e913;
}

.typeWriter {
  font-size: 1.2rem;
  color: #25e913;
  text-align: center;
  margin: 0 !important;
  min-height: 120px;
}

.typeWriter > span {
  border-right: 2px solid;
  animation: caret 0.2s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* 画像のスクロールCSS */
.fade-in {
    text-align: center;
    opacity: 0;
    margin: auto;
    transition-duration: 500ms;
    transition-property: opacity, transform;
  }
  
  .fade-in-up {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(0, 50px);
  }
  
  .fade-in-down {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(0, -50px);
  }
  
  .fade-in-left {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(-50px, 0);
  }
  
  .fade-in-right {
    text-align: center;
    opacity: 0;
    transition-duration: 500ms;
    transform: translate(50px, 0);
  }
  
  .scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }
  .googleform-wrapper {
    position: relative;
    width: 100%;
    height: 800px;
    overflow-y: scroll;
  }
  
  .googleform-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }