body{
    margin: 0;
    width: 100vw;
}

#geometryBlock{
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}


h1{
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 50px;
}