/*親要素 */
#floatingMenu {
    position: fixed;
    bottom: 90px;
    right: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 10;
}
/* 子要素 */
.flObj {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    transition: all 0.5s ease;
    position: relative;
}
/* 子要素のテキスト */
.flObj p {
    margin: 0;
    background: rgb(34, 80, 206);
    padding: 12px 20px 11px;
    font-size: 0.9rem;
    border-radius: 3px;
    position: relative;
    filter: drop-shadow(0px 0px 3px #ccc);
}
.flObj p:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border: 10px solid transparent;
    border-left: 10px solid #6bb6ff;
}
/* 子要素のリンク アイコンの大きさもここ */
.flObj a {
    background: #6bb6ff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 16%);
    position: relative;
    font-size: 1.2rem;
}
.flObj.middle .wpulikefixed {
	 transition: 0.3s;	
}
/* aタグのhover時 */
.flObj.top a:hover, .flObj.middle a:hover {
    opacity: 0.8;
}
/* FontAwesomeアイコンのスタイル */
.flObj a i {
    color: #FFF;
}
/* ＋アイコン */
.flObj.bottom a:before {
    content: "\f068";
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    color: #6bb6ff;
}
/* クリック後の親要素 */
#floatingMenu.notshow {
    gap: 0;
}
/* クリック前の各メニュー　アイコンの大きさ変更後はここも変える */
div#floatingMenu.notshow > .flObj.top, div#floatingMenu.notshow > .flObj.middle {
    gap: 0;
    margin-bottom: -80px;
}
/* クリック前のテキスト */
div#floatingMenu.notshow > .flObj.top p, div#floatingMenu.notshow > .flObj.middle p {
    display: none;
}
/* クリック前のメニューの影 */
div#floatingMenu.notshow > .flObj.top a, div#floatingMenu.notshow > .flObj.middle a {
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 15%), 0 1px 2px 0 rgb(0 0 0 / 22%);
}
/* クリック前のFontawesomeアイコン */
div#floatingMenu.notshow .flObj.bottom a:before {
    content: "\f067";
}